.signinBox{
    /* From https://css.glass */
    background: radial-gradient(at top left, #1173a4,#ffffff00);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.26);
}